

/* Загальні стилі */
body,
html {
    background-color: #121111;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* Запобігає горизонтальному прокручуванню */
    font-family: 'Alegreya', serif;
    /* Використання шрифту Alegreya */
}

header {
    width: 100%;
    /* Ширина хедера розтягнута на всю ширину сторінки */
    height: 87px;
    /* Висота хедера */
    background-color: transparent;
    /* Прозорий фон хедера */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 30px;
    /* Додаємо внутрішні відступи для правильного розташування */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Використання всієї ширини для контейнера */
    max-width: 1440px;
    /* Максимальна ширина для збереження лейауту */
    margin: auto;
}

.logo {
    margin-left: 30px;
    /* Відступ логотипу зліва */
}

.navigation {
    display: flex;
    gap: 53px;
    /* Відстань між елементами навігації */
}

.navigation a {
    color: white;
    /* Колір тексту */
    text-decoration: none;
    /* Без підкреслення */
    font-size: 18px;
    /* Розмір шрифту для навігації */
}

.download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px; /* Фіксована ширина кнопки */
    height: 66px; /* Фіксована висота кнопки */
    padding: 15px 50px; /* Внутрішній відступ кнопки */
    margin: 0; /* Видалення всіх марджинів */
    background: linear-gradient(90deg, #FDE5C4 0%, #FDF3E8 100%); /* Градієнт для фону */
    border: 1px solid #121212; /* Тонка чорна рамка */
    border-radius: 0 0 0 30px; /* Закруглення з одного кута */
    color: black; /* Колір тексту */
    font-size: 18px; /* Розмір шрифту */
    cursor: pointer; /* Стиль курсору при наведенні */
}

.download-button:hover {
    filter: brightness(1.2);
    /* Зміна яскравості при наведенні */
}

.background-container {
    width: 100%;
    /* Ширина контейнера фону */
    height: 678px;
    /* Висота контейнера фону */
    position: relative;
    /* Встановлення позиціонування відносно */
}

.background-image {
    width: 100%;
    /* Ширина фонового зображення */
    height: 100%;
    /* Висота фонового зображення */
    object-fit: cover;
    /* Масштабування зображення для покриття всієї області */
}

.honkai-text {
    position: absolute;
    /* Абсолютне позиціонування для тексту Honkai */
    top: 439px;
    /* Відстань зверху */
    left: 7px;
    /* Відстань зліва */
    width: 974px;
    /* Вказуємо ширину для забезпечення візуальної консистенції */
    height: 147px;
    /* Вказуємо висоту для забезпечення візуальної консистенції */
}

/* Екран 2 */

.second-screen {
    width: 1497px;
    height: 1956px;
    background-image: url('img/wallpaper2.png');
    background-size: cover;
    position: relative;
}

.text {
    position: absolute;
    font-size: 28px;
    line-height: 140%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
}

#text1 {
    top: 445px;
    left: 71px;
    right: 749px;
    width: 620px;
}

#text2 {
    top: 945px;
    left: 774px;
    right: 84px;
    width: 582px;
}

#text3 {
    top: 1430px;
    left: 71px;
    right: 717px;
    width: 652px;
}

/* Екран 3 */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide.active {
    display: block;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 1495px;
    height: 787px;
    object-fit: cover;
    z-index: 1;
    /* Lower z-index because it is the background */
}

.character-image {
    position: absolute;
    top: 50%;
    /* Center the image vertically */
    left: 70%;
    /* Center the image horizontally */
    transform: translate(-50%, -50%);
    /* Align the center of the image with the center of the container */
    width: 1025px;
    height: 1016px;
    z-index: 2;
    /* Higher z-index to ensure it's on top */
}

.text-container {
    position: absolute;
    left: 97px;
    /* Ваша вимога до відступу зліва */
    right: 705px;
    /* Ваша вимога до відступу справа */
    top: 50%;
    /* Центрує контейнер вертикально */
    transform: translateY(-50%);
    color: #FFF6A8;
    font-family: Alegreya;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 67.2px */
    letter-spacing: 0.2px;
    text-align: left;

    border-radius: 20px;
    /* Закруглені кути для фону тексту */
    z-index: 2;
    /* Забезпечує вищий рівень над іншими елементами */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #263F42;
    background: linear-gradient(180deg, #9E7741 0%, #ff0000 100%);
    border: 1px solid #121212;
    border-radius: 30px;
    /* Закруглені кути для кнопок */
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background: linear-gradient(180deg, #a58e42 0%, #cda772 100%);
}

#history-text,
#role-text {
    margin-top: 20px;
    color: #FFF;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    /* Вирівнювання тексту по ширині для кращого читання */
    max-height: 150px;
    /* Обмежує видиму висоту тексту */
    overflow: auto;
    /* Додає прокрутку, якщо текст не вміщується */
}

.button {
    margin: 10px 5px;
    /* Відступи між кнопками */
    transition: all 0.3s ease;
    /* Плавний перехід ефектів при наведенні */
}

.hidden {
    display: none;
    /* Початково текст прихований */
}

.button {
    display: inline-flex;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #121212;
    font-family: 'Alegreya', serif;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
    /* Rounded edges but not fully circular */
    border-radius: 20px;
}

button:hover {
    background: linear-gradient(180deg, #FFE692 0%, #9E7741 100%);
    /* Inverted gradient on hover */
}


/* Specific styles for 'Character History' button */
.history-button {
    width: 201px;
    height: 84px;
    background: linear-gradient(180deg, #9E7741 0%, #c3b37e 100%);
    color: #263F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.46px;
}

/* Specific styles for 'Role in Game' button */
.role-button {
    width: 188px;
    height: 57px;
    background: linear-gradient(90deg, #edbe59 0%, #998a46 100%);
    color: #263F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.46px;
}

/* Hover effects for both buttons */
.button:hover {
    background: linear-gradient(180deg, #FFE692 0%, #9E7741 100%);
}

/* АХЕРОН */
#slide2.second-screen {
    width: 1497px;
    height: 1956px;
    background-image: url('img/ахеронфон.png');
    background-size: cover;
    position: relative;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 1495px;
    height: 787px;
    object-fit: cover;
    z-index: 1;
    /* Lower z-index because it is the background */
}
#slide2 .character-image {
    position: absolute;
    top: 50%;
    /* Center the image vertically */
    left: 70%;
    /* Center the image horizontally */
    transform: translate(-50%, -50%);
    /* Align the center of the image with the center of the container */
    width: 1025px;
    height: 1016px;
    z-index: 2;
    /* Higher z-index to ensure it's on top */
}

#slide2 .text-container {
    position: absolute;
    left: 97px;
    right: 705px;
    top: 50%;
    transform: translateY(-50%);
    color: #C8DDE0;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    text-align: left;
    z-index: 3;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

#slide2 .button {
    margin: 10px 5px;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 800;
    color: #C8DDE0;;
    background: linear-gradient(180deg, #e881eb 0%, #983a9b 100%);
    border: 1px solid #121212;
    border-radius: 30px;
    cursor: pointer;
    cursor: pointer;
    transition: background 0.3s ease;
}

#slide2 .button:hover {
    background: linear-gradient(180deg, #7B419E 0%, #8A849D 100%);
}

#slide2 .hidden {
    display: none;
}

#slide2 .prev, #slide2 .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    cursor: pointer;
}

#slide2 .prev {
    left: 10px;
}

#slide2 .next {
    right: 10px;
}



/* ГАЛАХЕР */
#slide3 .text-container {
    /* Спільні стилі з іншими слайдами */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slide3 .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 1495px;
    height: 787px;
    object-fit: cover;
    z-index: 1;
    /* Lower z-index because it is the background */
}

#slide3 .character-image {
    position: absolute;
    top: 50%;
    /* Center the image vertically */
    left: 70%;
    /* Center the image horizontally */
    transform: translate(-50%, -50%);
    /* Align the center of the image with the center of the container */
    width: 1025px;
    height: 1016px;
    z-index: 2;
    /* Higher z-index to ensure it's on top */
}

#slide3 .text-container {
    position: absolute;
    left: 97px;
    /* Ваша вимога до відступу зліва */
    right: 705px;
    /* Ваша вимога до відступу справа */
    top: 50%;
    /* Центрує контейнер вертикально */
    transform: translateY(-50%);
    color: #F8D3D3;
    font-family: Alegreya;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 67.2px */
    letter-spacing: 0.2px;
    text-align: left;

    border-radius: 20px;
    /* Закруглені кути для фону тексту */
    z-index: 2;
    /* Забезпечує вищий рівень над іншими елементами */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

#slide3 .button {
    margin: 10px;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 800;
    color: #F8D3D3;
    border: 1px solid #121212;
    cursor: pointer;
    transition: background 0.3s;
}

#slide3 .history-button {
    background: linear-gradient(180deg, #BB4569 0%, #431616 100%);
}

#slide3 .role-button {
    background: linear-gradient(90deg, #BB4569 0%, #972A4A 100%);
}

#slide3 .button:hover {
    background: linear-gradient(180deg, #d66c79 0%, #e95050 100%);
}

 /* стилі з кнопок */

 .specific-slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.nav-button {
    position: absolute;
    top: 625px; /* Задаємо вертикальне розташування для кнопок */
    z-index: 10;
    cursor: pointer;
    width: 26px; /* Ширина кнопки */
    height: 35px; /* Висота кнопки */
}

.nav-button.prev {
    left: 103px; /* Відступ з лівого боку для лівої кнопки */
}

.nav-button.next {
    right: 1258px; /* Відступ з правого боку для правої кнопки */
}


/* Фон четвертого екрану */
#fourth-screen {
    width: 1495px;
    height: 2636px;
    background-image: url('img/wallpaper4.png');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Стилі для текстів */
.text1, .text2, .text3, .text4, .text5, .text6 {
    position: absolute;
    font-family: 'Alegreya', serif;
    color: #FFF;
    font-size: 28px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;
}

.text3, .text5 {
    font-family: 'Alegreya', serif;
    color: #000;
}

.text1 {
    height: 39px;
    width: 271px;
    top: 423px;
    left: 177px;
    right: 992px;
    font-size: 23.5px;
}

.text2 {
    width: 447px;
    top: 539px;
    left: 88px;
    right: 905px;
    flex-shrink: 0;
    text-align: left
}

.text3 {
    width: 552px;
    top: 1075px;
    left: 706px;
    right: 182px;
}

.text4 {
    width: 510px;
    top: 1146px;
    left: 850px;
    right: 97px;
    text-align: left
}

.text5 {
    width: 552px;
    top: 1750px;
    left: 145px;
    right: 743px;
}

.text6 {
    width: 546px;
    top: 1830px;
    left: 100px;
    right: 813px;
    text-align: left
}

/* Застосування білого кольору тексту до усіх елементів, крім .text3 і .text5 */
#fourth-screen .text1, #fourth-screen .text2, #fourth-screen .text4, #fourth-screen .text6 {
    color: #FFF;
}

/* Застосування чорного кольору тексту до .text3 і .text5 */
#fourth-screen .text3, #fourth-screen .text5 {
    color: #000;
}


/* 5 екран */
.slideshow {
    width: 100%;
    height: 881px; /* Висота контейнера */
    overflow: hidden;
    position: relative;
    background: url('img/wallpaper5.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.slides {
    display: flex;
    align-items: center;
    animation: slide 60s linear infinite;
    margin-top: 130px; /* Відстань зверху до фотографій */
}

.slides img {
    width: 506px; /* Ширина зображень */
    height: 420px; /* Висота зображень */
    margin-right: 100px; /* Відстань між зображеннями */
}

.slides img:last-child {
    margin-right: 0; /* Видалити відстань у останнього зображення */
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-2224px); } /* Зміщення ліворуч на загальну ширину зображень з відступами */
}



/* 6 екран */

.footer {
    width: 1440px;
    height: 815px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-links {
    display: flex;  /* Встановлює контейнер як гнучкий бокс */
    justify-content: center;  /* Центрує іконки в контейнері по горизонталі */
    align-items: center;  /* Вирівнює іконки в контейнері по вертикалі */
    gap: 100px;  /* Встановлює відстань між елементами у контейнері */
}

.footer-icon {
    width: 70px;  /* Встановлення фіксованої ширини для іконок */
    height: 90px;  /* Встановлення фіксованої висоти для іконок */
    object-fit: contain;  /* Запобігає деформації зображення */
}

/* Запобігає проблемам з переносом іконок на новий рядок */
.social-links {
    flex-wrap: nowrap;  /* Вказує контейнеру не переносити іконки на новий рядок */
    margin-bottom: 52px;  /* Відстань від соціальних іконок до наступного блоку */
}


.app-links {
    display: flex;  /* Встановлюємо flexbox для вирівнювання елементів в один рядок */
    justify-content: space-between;  /* Розташовуємо елементи з рівним відступом */
    align-items: center;  /* Вирівнювання іконок по вертикалі */
    gap: 90px;  /* Відстань між елементами */
}

.footer-icon2 {
    width: 239px;  /* Фіксована ширина для кожної іконки */
    height: 82px;  /* Фіксована висота для кожної іконки */
    flex-shrink: 0;  /* Запобігає стисненню іконок */
    object-fit: contain; /* Забезпечує, що зображення залишаться в межах заданих розмірів */
}


.footer-photo1 {
    display: flex;
    width: 448px;
    justify-content: center;
    align-items: flex-end;
    gap: 2.996px;
    margin-bottom: 15px; /* Відступ знизу до першого блоку тексту */
}

.footer-photo2 {
    display: flex;
    width: 330px;
    height: 60px;
    justify-content: center;
    align-items: flex-end;
    gap: 2.996px;
    margin-top: 15px; /* Відступ зверху до другого фото, після другого блоку тексту */
}

.footer-text1 {
    text-align: center;
    color: #FFF;
    font-family: 'Alegreya', sans-serif;
    margin-top: 28px; /* Зменшуємо верхній відступ */
    margin-bottom: 53px; /* Збільшуємо нижній відступ для підняття тексту вище */
}

.footer-text1 p {
    margin: 8px 0; /* Зменшуємо відступ між параграфами */
}

.footer-text2 {
    text-align: center;
    color: #FFF;
    font-family: 'Alegreya', sans-serif;
    margin-top: 10px; /* Зменшуємо верхній відступ */
}

.footer-text2 p {
    margin: 8px 0; /* Зменшуємо відступ між параграфами */
}

.footer img {
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    .footer {
        flex-direction: column;
    }
}


