

/* Загальні стилі */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* Запобігає горизонтальному прокручуванню */
    font-family: 'Alegreya', serif;
    /* Використання шрифту Alegreya */
}

header {
    width: 100%;
    /* Ширина хедера розтягнута на всю ширину сторінки */
    height: 87px;
    /* Висота хедера */
    background-color: transparent;
    /* Прозорий фон хедера */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 30px;
    /* Додаємо внутрішні відступи для правильного розташування */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Використання всієї ширини для контейнера */
    max-width: 1440px;
    /* Максимальна ширина для збереження лейауту */
    margin: auto;
}

.logo {
    margin-left: 30px;
    /* Відступ логотипу зліва */
}

.navigation {
    display: flex;
    gap: 53px;
    /* Відстань між елементами навігації */
}

.navigation a {
    color: white;
    /* Колір тексту */
    text-decoration: none;
    /* Без підкреслення */
    font-size: 18px;
    /* Розмір шрифту для навігації */
}

.download-button {
    margin-right: 0;
    /* Видалення правого відступу */
    display: flex;
    width: 269px;
    height: 66px;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    /* Внутрішні відступи для кнопки */
    background: linear-gradient(90deg, #FDE5C4 0%, #FDF3E8 100%);
    /* Градієнт для кнопки */
    border: 1px solid #121212;
    /* Рамка для кнопки */
    border-radius: 0 0 0 30px;
    /* Закруглення рамки */
    color: black;
    /* Колір тексту кнопки */
    font-size: 18px;
    /* Розмір шрифту кнопки */
    cursor: pointer;
    /* Вказівник курсору як кнопка */
}

.download-button:hover {
    filter: brightness(1.2);
    /* Зміна яскравості при наведенні */
}

.background-container {
    width: 100%;
    /* Ширина контейнера фону */
    height: 678px;
    /* Висота контейнера фону */
    position: relative;
    /* Встановлення позиціонування відносно */
}

.background-image {
    width: 100%;
    /* Ширина фонового зображення */
    height: 100%;
    /* Висота фонового зображення */
    object-fit: cover;
    /* Масштабування зображення для покриття всієї області */
}

.honkai-text {
    position: absolute;
    /* Абсолютне позиціонування для тексту Honkai */
    top: 439px;
    /* Відстань зверху */
    left: 7px;
    /* Відстань зліва */
    width: 974px;
    /* Вказуємо ширину для забезпечення візуальної консистенції */
    height: 147px;
    /* Вказуємо висоту для забезпечення візуальної консистенції */
}

/* Екран 2 */

.second-screen {
    width: 1497px;
    height: 1956px;
    background-image: url('img/wallpaper2.png');
    background-size: cover;
    position: relative;
}

.text {
    position: absolute;
    font-size: 28px;
    line-height: 140%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
}

#text1 {
    top: 445px;
    left: 71px;
    right: 749px;
    width: 620px;
}

#text2 {
    top: 945px;
    left: 774px;
    right: 84px;
    width: 582px;
}

#text3 {
    top: 1430px;
    left: 71px;
    right: 717px;
    width: 652px;
}

/* Екран 3 */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide.active {
    display: block;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 1495px;
    height: 787px;
    object-fit: cover;
    z-index: 1;
    /* Lower z-index because it is the background */
}

.character-image {
    position: absolute;
    top: 50%;
    /* Center the image vertically */
    left: 70%;
    /* Center the image horizontally */
    transform: translate(-50%, -50%);
    /* Align the center of the image with the center of the container */
    width: 1025px;
    height: 1016px;
    z-index: 2;
    /* Higher z-index to ensure it's on top */
}

.text-container {
    position: absolute;
    left: 97px;
    /* Ваша вимога до відступу зліва */
    right: 705px;
    /* Ваша вимога до відступу справа */
    top: 50%;
    /* Центрує контейнер вертикально */
    transform: translateY(-50%);
    color: #FFF6A8;
    font-family: Alegreya;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 67.2px */
    letter-spacing: 0.2px;
    text-align: left;

    border-radius: 20px;
    /* Закруглені кути для фону тексту */
    z-index: 2;
    /* Забезпечує вищий рівень над іншими елементами */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #263F42;
    background: linear-gradient(180deg, #9E7741 0%, #FFE692 100%);
    border: 1px solid #121212;
    border-radius: 30px;
    /* Закруглені кути для кнопок */
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background: linear-gradient(180deg, #FFE692 0%, #9E7741 100%);
}

#history-text,
#role-text {
    margin-top: 20px;
    color: #FFF;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    /* Вирівнювання тексту по ширині для кращого читання */
    max-height: 150px;
    /* Обмежує видиму висоту тексту */
    overflow: auto;
    /* Додає прокрутку, якщо текст не вміщується */
}

.button {
    margin: 10px 5px;
    /* Відступи між кнопками */
    transition: all 0.3s ease;
    /* Плавний перехід ефектів при наведенні */
}

.hidden {
    display: none;
    /* Початково текст прихований */
}

.button {
    display: inline-flex;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #121212;
    font-family: 'Alegreya', serif;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
    /* Rounded edges but not fully circular */
    border-radius: 20px;
}

button:hover {
    background: linear-gradient(180deg, #FFE692 0%, #9E7741 100%);
    /* Inverted gradient on hover */
}


/* Specific styles for 'Character History' button */
.history-button {
    width: 201px;
    height: 84px;
    background: linear-gradient(180deg, #9E7741 0%, #FFE692 100%);
    color: #263F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.46px;
}

/* Specific styles for 'Role in Game' button */
.role-button {
    width: 188px;
    height: 57px;
    background: linear-gradient(90deg, #edbe59 0%, #f3da6b 100%);
    color: #263F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.46px;
}

/* Hover effects for both buttons */
.button:hover {
    background: linear-gradient(180deg, #FFE692 0%, #9E7741 100%);
}

/* АХЕРОН */
#slide2.second-screen {
    width: 1497px;
    height: 1956px;
    background-image: url('img/ахеронфон.png');
    background-size: cover;
    position: relative;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 1495px;
    height: 787px;
    object-fit: cover;
    z-index: 1;
    /* Lower z-index because it is the background */
}
#slide2 .character-image {
    position: absolute;
    top: 50%;
    /* Center the image vertically */
    left: 70%;
    /* Center the image horizontally */
    transform: translate(-50%, -50%);
    /* Align the center of the image with the center of the container */
    width: 1025px;
    height: 1016px;
    z-index: 2;
    /* Higher z-index to ensure it's on top */
}

#slide2 .text-container {
    position: absolute;
    left: 97px;
    right: 705px;
    top: 50%;
    transform: translateY(-50%);
    color: #C8DDE0;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    text-align: left;
    z-index: 3;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

#slide2 .button {
    margin: 10px 5px;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 800;
    color: #C8DDE0;;
    background: linear-gradient(180deg, #e881eb 0%, #983a9b 100%);
    border: 1px solid #121212;
    border-radius: 30px;
    cursor: pointer;
    cursor: pointer;
    transition: background 0.3s ease;
}

#slide2 .button:hover {
    background: linear-gradient(180deg, #7B419E 0%, #8A849D 100%);
}

#slide2 .hidden {
    display: none;
}

#slide2 .prev, #slide2 .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    cursor: pointer;
}

#slide2 .prev {
    left: 10px;
}

#slide2 .next {
    right: 10px;
}



/* ГАЛАХЕР */
#slide3 .text-container {
    /* Спільні стилі з іншими слайдами */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slide3 .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 1495px;
    height: 787px;
    object-fit: cover;
    z-index: 1;
    /* Lower z-index because it is the background */
}

#slide3 .character-image {
    position: absolute;
    top: 50%;
    /* Center the image vertically */
    left: 70%;
    /* Center the image horizontally */
    transform: translate(-50%, -50%);
    /* Align the center of the image with the center of the container */
    width: 1025px;
    height: 1016px;
    z-index: 2;
    /* Higher z-index to ensure it's on top */
}

#slide3 .text-container {
    position: absolute;
    left: 97px;
    /* Ваша вимога до відступу зліва */
    right: 705px;
    /* Ваша вимога до відступу справа */
    top: 50%;
    /* Центрує контейнер вертикально */
    transform: translateY(-50%);
    color: #F8D3D3;
    font-family: Alegreya;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 67.2px */
    letter-spacing: 0.2px;
    text-align: left;

    border-radius: 20px;
    /* Закруглені кути для фону тексту */
    z-index: 2;
    /* Забезпечує вищий рівень над іншими елементами */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

#slide3 .button {
    margin: 10px;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 800;
    color: #F8D3D3;
    border: 1px solid #121212;
    cursor: pointer;
    transition: background 0.3s;
}

#slide3 .history-button {
    background: linear-gradient(180deg, #BB4569 0%, #431616 100%);
}

#slide3 .role-button {
    background: linear-gradient(90deg, #BB4569 0%, #972A4A 100%);
}

#slide3 .button:hover {
    background: linear-gradient(180deg, #d66c79 0%, #e95050 100%);
}

 /* стилі з кнопок */

 .specific-slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.nav-button {
    position: absolute;
    top: 625px; /* Задаємо вертикальне розташування для кнопок */
    z-index: 10;
    cursor: pointer;
    width: 26px; /* Ширина кнопки */
    height: 35px; /* Висота кнопки */
}

.nav-button.prev {
    left: 103px; /* Відступ з лівого боку для лівої кнопки */
}

.nav-button.next {
    right: 1258px; /* Відступ з правого боку для правої кнопки */
}
